{% extends "layouts/base.html" %}

{% load static %}

{% block title %} Página Inicial {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
<style>
  .meu-botao {
    background-color: #fff;
    padding: 15px;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  .meu-botao:hover {
    background-color: #eee; /* cor mais escura */
  }
</style>
{% endblock stylesheets %}

{% block content %}

    <div class="container" style="width: 100vw; height: 100vh; padding: 20px; box-sizing: border-box;">
        <div class="main-container" style="display: flex; width: 100%; height: auto; justify-content: center; align-items: center;">
            <div class="chart-container" style="width: 100%; height: 100%; padding: 10px;">
                {% if periodos %}
                    <div class="card meu-botao" style="height: 30%; justify-content: center; align-items: center;" onclick="window.location.href='{% url 'avaliacao' %}'">
                        <i class="material-icons" style="font-size: 200px">event_available</i>
                        <p>Abrir avaliação atual</p>
                    </div>
                {% else %}
                    <form method="post" action="{% url 'criar_avaliacao' %}" id="form-avaliacao">
                        {% csrf_token %}
                        <div class="card meu-botao" style="height: 30%; justify-content: center; align-items: center; cursor:pointer;" onclick="document.getElementById('form-avaliacao').submit();">
                            <i class="material-icons" style="font-size: 200px">event_available</i>
                            <p>Iniciar período de avaliações</p>
                        </div>
                    </form>
                {% endif %}
                <div class="card meu-botao" style="height: 30%; justify-content: center; align-items: center;" onclick="window.location.href='{% url 'lista_pesquisadores' %}'">
                    <i class="material-icons" style="font-size: 200px">people</i>
                    <p>Ver lista de pesquisadores</p>
                </div>
            </div>
            <div class="chart-container" style="display: flex; width: 100%; height: 100%; padding: 35px; background-color: #0b3251; border-radius: 8px; justify-content: center; align-items: center;">
                <img src="{% static 'assets/img/logo.png' %}" alt="Logo">
            </div>
        </div>
    </div>
{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

  <script>
    $(document).ready(function() {
      // Javascript method's body can be found in assets/js/demos.js
      md.initDashboardPageCharts();

    });
  </script>

{% endblock javascripts %}
