{% extends "layouts/base.html" %}

{% block title %} Lista de Pesquisadores {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
    <style>
    body {
        font-family: Arial, sans-serif;
        margin: 0;
        background-color: #f0f2f5;
    }

    h2 {
        text-align: center;
        margin-bottom: 30px;
        color: #333;
    }

    .container {
        max-width: 900px;
        margin: auto;
        background-color: #fff;
        border-radius: 12px;
        box-shadow: 0 2px 10px rgba(0,0,0,0.1);
        padding: 30px;
    }

    .tab-header {
        display: flex;
        border-bottom: 2px solid #eee;
        margin-bottom: 20px;
    }

    .tab-content {
        display: none;
        animation: fadeIn 0.3s ease-in-out;
    }

    .tab-content.active {
        display: block;
    }

    .tab-content h3 {
        margin-top: 0;
        color: #444;
    }

    .tab-content p {
        margin: 8px 0;
        color: #333;
    }

    .tab-content a {
        color: #7b2cbf;
        text-decoration: none;
    }

    .tab-content a:hover {
        text-decoration: underline;
    }

    #form-pesquisadores {
        animation: fadeIn 0.2s ease-in-out;
    }

    #lista-pesquisadores {
        animation: fadeIn 0.2s ease-in-out;
    }

    @keyframes fadeIn {
        from { opacity: 0; transform: translateY(10px); }
        to { opacity: 1; transform: translateY(0); }
    }

    @keyframes fadeIn2 {
    from {opacity: 0; transform: translateY(-10px); }
    to {opacity: 1; transform: translateY(0); }
}
    .avaliacao-card {
        border: 1px solid #ccc;
        border-radius: 10px;
        padding: 20px;
        margin-bottom: 20px;
        background-color: #f9f9f9;
        justify-content: space-between;
        display: flex;
        flex-direction: row;
        gap: 10px;
        align-items: center;
    }

    .avaliacao-data, .avaliacao-info {
        line-height: 1.6;
        font-size: 20px;
        align-items: center;
        justify-content: center;
        text-align: center;
        background-color: #eee;
        padding: 20px;
        border-radius: 10px;
        flex: 1;
        min-height: 100px;
    }

    .avaliacao-info em {
        font-style: italic;
        font-weight: bold;
    }

    .avaliacao-botoes {
        display: flex;
        flex-direction: column;
        margin-top: 10px;
        flex: 1;
        min-height: 100px;
    }

    .btn {
        padding: 8px 16px;
        border: none;
        border-radius: 6px;
        background-color: #666;
        color: white;
        cursor: pointer;
        font-weight: bold;
        font-size: 13px;
    }

    .btn.avaliar {
        background-color: #7b2cbf;
    }

    .tab-button-wrapper {
        position: relative;
        display: flex;
        flex-direction: row;
        width: 100%;
    }

    .tab-button-titulo {
        width: 100%;
    }

    .btn-adicionar {
        margin: 0;
        border: none;
        bottom: 0;
        right: 0;
        background-color: #0a6ebd;
        z-index: 1;
        padding: 12px 10px;
        font-size: 12px;
        animation: fadeIn2 0.2s ease-in-out;
    }

    .btn-adicionar.active {
        border-bottom: 3px solid #007bff;
        color: #007bff;
        animation: fadeIn2 0.2s ease-in-out;
    }

    .tab-button-titulo {
        flex: 1;
        background: none;
        border: none;
        padding: 12px 10px;
        font-weight: bold;
        border-bottom: 3px solid transparent;
        transition: all 0.3s ease;
        position: relative;
    }

    .tab-button-titulo.active {
        border-bottom: 3px solid #007bff;
        color: #007bff;
    }

    .meu-formulario {
        background-color: #f9f9f9;
        padding: 20px;
        border-radius: 10px;
    }

    .meu-formulario p {
        margin-bottom: 15px;
    }

    .meu-formulario input {
        width: 100%;
        padding: 8px;
        border: 1px solid #ccc;
        border-radius: 5px;
    }

    .meu-formulario label {
        color: #000;
    }

    .alert {
        position: relative;
        padding-right: 20px; /* Para o "x" não se sobrepor ao texto */
    }

    .alert .close {
        position: absolute;
        top: 5px;
        right: 5px;
        background: transparent;
        border: none;
        font-size: 30px;
        color: #000;
        cursor: pointer;
    }

    .is-invalid {
        border: 2px solid red;
    }
</style>

{% endblock stylesheets %}

{% block content %}

<h2>Pesquisadores</h2>

<div class="container">
    <div class="tab-header">
        <div class="tab-button-wrapper">
            <button class="tab-button-titulo active" onclick="openTab('pesquisadores')" disabled>
                Lista de Pesquisadores
            </button>
            {% if not acao %}
                <button id="btn-adicionar" style="border-bottom-left-radius: 0;" class="btn btn-adicionar fecha" onclick="formularioPesquisadores()">
                    +Adicionar Pesquisador
                </button>
            {% else %}
                <button id="btn-adicionar" style="border-bottom-left-radius: 0;" class="btn btn-adicionar" onclick="window.location.href='/avaliacao'">
                    Voltar
                </button>
            {% endif %}
        </div>
    </div>

    {% if messages %}
        <div class="feedback-messages">
            {% for message in messages %}
                <div class="alert
                    {% if message.tags == 'error' %}
                        alert-danger
                    {% else %}
                        alert-{{ message.tags }}
                    {% endif %}
                    alert-dismissible fade show">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Fechar">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    {{ message }}
                </div>
            {% endfor %}
        </div>
    {% endif %}

    <div id="lista-pesquisadores" style="overflow-y: scroll; max-height: 800px;">
        {% for pesquisador in pesquisadores %}
            <div class="avaliacao-card">
                <div class="avaliacao-data">
                    <span>{{ pesquisador.nome }}</span><br>
                    <a href="/perfil/{{ pesquisador.id }}/pesquisador">Detalhes</a>
                </div>
                <div class="avaliacao-info">
                    <strong><em>{{ pesquisador.matricula }}</em></strong><br>
                    <span>{{ pesquisador.email }}</span>
                </div>
                <div class="avaliacao-botoes">
                    {% if acao %}
                      <div class="pesquisador-card">
                        {% if acao == 'adicionar' %}
                          <form method="POST" action="{% url 'adicionar_pesquisador' pesquisador.id %}">
                            {% csrf_token %}
                            <button class="btn">Adicionar</button>
                          </form>
                        {% elif acao == 'remover' %}
                          <form method="POST" action="{% url 'deletar_avaliacao' pesquisador.id %}">
                            {% csrf_token %}
                            <button type="button" class="btn btn-danger"
                                    data-toggle="modal"
                                    data-target="#confirmModal"
                                    data-id="{% for avaliacao in avaliacoes %}{% if avaliacao.pesquisador_id == pesquisador.id %}{{ avaliacao.id }}{% endif %}{% endfor %}">Remover</button>
                          </form>
                        {% endif %}
                      </div>
                    {% else %}
                        <button class="btn avaliar"
                                onclick="editarPesquisador(this)"
                                data-id="{{ pesquisador.id }}"
                                data-nome="{{ pesquisador.nome }}"
                                data-matricula="{{ pesquisador.matricula }}"
                                data-email="{{ pesquisador.email }}"
                                data-matricula-original="{{ pesquisador.matricula }}">
                            Editar
                        </button>
                        <input type="hidden" id="pesq-matricula-original-{{ pesquisador.id }}" value="{{ pesquisador.matricula }}">
                        <button type="button" class="btn btn-danger"
                                data-toggle="modal"
                                data-target="#confirmModal"
                                data-pesquisador-id="{{ pesquisador.id }}">
                            Remover
                        </button>
                    {% endif %}
                </div>
            </div>
        {% empty %}
            {% if not acao %}
                <p>Nenhum pesquisador cadastrado.</p>
            {% elif acao == 'adicionar' %}
                <p>Nenhum pesquisador a ser adicionado.</p>
            {% elif acao == 'remover' %}
                <p>Nenhum pesquisador a ser removido.</p>
            {% endif %}
        {% endfor %}
    </div>

    <div class="modal fade" id="confirmModal" tabindex="-1" role="dialog" aria-labelledby="confirmModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <form method="post" id="{% if acao %}formDeleteAvaliacao{% else %}formConfirmDelete{% endif %}">
            {% csrf_token %}
            <input type="hidden" name="senha_confirmacao" id="senha_confirmacao">
            <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="confirmModalLabel">Confirme a Senha</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                    <p>Para remover o pesquisador, digite sua senha:</p>
                    <input type="password" name="senha_confirmacao" class="form-control" required>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                  <button type="submit" class="btn btn-danger">Confirmar e Remover</button>
                </div>
          </div>
        </form>
      </div>
    </div>

    <div id="form-pesquisadores"  style="display: none;">
        <div id="pesquisadores" class="tab-content active">
            <form method="post" class="meu-formulario" action="{% url 'editar_pesquisador' 0 %}" id="formEditarPesquisador">
                {% csrf_token %}
                <div class="form-group">
                    <input type="hidden" name="id" id="pesq-id">
                </div>
                <div class="form-group">
                    <label>Nome:</label>
                    <input type="text" name="nome" id="pesq-nome" required><br>
                </div>
                <div class="form-group">
                    <label>Matrícula:</label>
                    <input type="text" name="matricula" id="pesq-matricula" required><br>
                    {% if form.errors.matricula %}
                        <div class="text-danger" id="erroEditar-matricula">
                            {% for error in form.errors.matricula %}
                                <small>{{ error }}</small><br>
                            {% endfor %}
                        </div>
                        <style>
                            input[id="pesc-matricula"] {
                                border: 2px solid red;
                            }
                        </style>
                    {% endif %}
                </div>
                <div class="form-group">
                    <label>Email:</label>
                    <input type="email" name="email" id="pesq-email" required><br><br>

                    <button type="button" class="btn" onclick="mostrarPesquisadores()">Voltar</button>
                    <button type="submit" class="btn">Salvar</button>
                </div>
            </form>
            <form method="post" class="meu-formulario" id="formAddPesquisador">
                {% csrf_token %}
                {% for field in form %}
                    <div class="form-group">
                        {{ field.label_tag }}
                        {{ field.as_widget|safe }}
                        {% if field.errors %}
                            <div class="text-danger" id="erro-{{ field.name }}">
                                {% for error in field.errors %}
                                    <small>{{ error }}</small><br>
                                {% endfor %}
                            </div>
                            <style>
                                input[name="{{ field.name }}"] {
                                    border: 2px solid red;
                                }
                            </style>
                        {% endif %}
                    </div>
                {% endfor %}
                <button type="button" class="btn" onclick="mostrarPesquisadores()">Voltar</button>
                <button type="submit" class="btn">Enviar</button>
            </form>
        </div>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        const matriculaInput = document.querySelector('input[id="matricula"]');
        const erroMatricula = document.getElementById('erro-matricula');

        if (matriculaInput) {
            matriculaInput.addEventListener('input', function () {
                const erro = document.getElementById('erro-matricula');
                if (erro) {
                    erro.remove(); // remove a div de erro
                    // ou: erro.style.display = 'none'; para apenas esconder
                    // Também pode remover a borda vermelha:
                    matriculaInput.style.border = '';
                }
            });
        }
    });

    document.getElementById('formAddPesquisador').addEventListener('submit', async function(event) {
    event.preventDefault(); // não envia ainda

    // Verifica se há erro de matrícula exibido
    const erroMatricula = document.getElementById('erro-matricula');
    const valorMatricula = document.getElementById('matricula').value;
    const matriculaInput = document.querySelector('input[id="matricula"]');
    const formGroup = matriculaInput.closest('.form-group');

    let response = await fetch(`/verificar-matricula/?matricula=${encodeURIComponent(valorMatricula)}`);
    const data = await response.json();

    // Verifica se o formulário é válido (validação HTML5) e se não tem erro de matrícula
    if (this.checkValidity() && !erroMatricula && !data.existe) {
        this.submit(); // envia se estiver tudo OK
    } else {
        // dispara mensagens de erro padrão
        this.reportValidity();
        if (!erroMatricula) {
                // Cria nova div de erro
            const novaDiv = document.createElement('div');
            novaDiv.id = 'erro-matricula';
            novaDiv.classList.add('text-danger');
            novaDiv.innerHTML = '<small>Já existe um pesquisador com essa matrícula.</small>';

            // Insere a div de erro dentro da div.form-group
            formGroup.appendChild(novaDiv);

            // Adiciona borda vermelha ao campo de matrícula
            matriculaInput.style.border = '2px solid red';
            }
    }
});

    document.addEventListener('DOMContentLoaded', function () {
        const matriculaInput = document.querySelector('input[id="pesq-matricula"]');
        const erroMatricula = document.getElementById('erroEditar-matricula');

        if (matriculaInput) {
            matriculaInput.addEventListener('input', function () {
                const erro = document.getElementById('erroEditar-matricula');
                if (erro) {
                    erro.remove(); // remove a div de erro
                    // ou: erro.style.display = 'none'; para apenas esconder
                    // Também pode remover a borda vermelha:
                    matriculaInput.style.border = '';
                }
            });
        }
    });

    document.getElementById('formEditarPesquisador').addEventListener('submit', async function(event) {
    event.preventDefault(); // não envia ainda

    // Verifica se há erro de matrícula exibido
    const erroMatricula = document.getElementById('erroEditar-matricula');
    const valorMatricula = document.getElementById('pesq-matricula').value.trim();
    const valorMatriculaOriginal = document.getElementById(`pesq-matricula-original-${document.getElementById('pesq-id').value}`).value.trim();

    // Se não mudou, envia direto
    if (valorMatricula === valorMatriculaOriginal) {
        this.submit();
        return;
    }
    const matriculaInput = document.querySelector('input[id="pesq-matricula"]');
    const formGroup = matriculaInput.closest('.form-group');

    let response = await fetch(`/verificar-matricula/?matricula=${encodeURIComponent(valorMatricula)}`);
    const data = await response.json();

    // Verifica se o formulário é válido (validação HTML5) e se não tem erro de matrícula
    if (this.checkValidity() && !erroMatricula && !data.existe) {
        this.submit(); // envia se estiver tudo OK
    } else {
        // dispara mensagens de erro padrão
        this.reportValidity();
        if (!erroMatricula) {
                // Cria nova div de erro
            const novaDiv = document.createElement('div');
            novaDiv.id = 'erroEditar-matricula';
            novaDiv.classList.add('text-danger');
            novaDiv.innerHTML = '<small>Já existe um pesquisador com essa matrícula.</small>';

            // Insere a div de erro dentro da div.form-group
            formGroup.appendChild(novaDiv);

            // Adiciona borda vermelha ao campo de matrícula
            matriculaInput.style.border = '2px solid red';
            }
    }
});
</script>

<script>
    document.addEventListener("DOMContentLoaded", function() {
        // Fechar a mensagem ao clicar no "x"
        const closeButtons = document.querySelectorAll('.alert .close .fecha .btn-adicionar');
        closeButtons.forEach(button => {
            button.addEventListener('click', function() {
                const alert = this.closest('.alert');
                alert.style.display = 'none';
            });
        });
    });

    function openTab(tabId) {
        document.querySelectorAll('.tab-button').forEach(btn => btn.classList.remove('active'));
        document.querySelectorAll('.tab-content').forEach(content => content.classList.remove('active'));

        document.querySelector(`[onclick="openTab('${tabId}')"]`).classList.add('active');
        document.getElementById(tabId).classList.add('active');
    }

    function confirmarRemocao() {
        return confirm("Tem certeza que deseja remover este pesquisador?");
    }

    document.addEventListener('DOMContentLoaded', function () {
        setTimeout(function () {
            document.querySelectorAll('.alert-dismissible').forEach(function(alert) {
                alert.classList.remove('show');
                alert.classList.add('fade');
                setTimeout(() => alert.remove(), 500); // Remove do DOM após fade
            });
        }, 5000); // 5 segundos
    });
</script>


{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

  <script>
    $(document).ready(function() {
      // Javascript method's body can be found in assets/js/demos.js
      md.initDashboardPageCharts();

    });

    function mostrarPesquisadores() {
        document.getElementById('form-pesquisadores').style.display = 'none';
        document.getElementById('lista-pesquisadores').style.display = 'block';
        document.getElementById('btn-adicionar').style.display = 'block';
        document.getElementById("formAddPesquisador").reset();
        document.getElementById("formEditarPesquisador").reset();
        document.getElementById("nome").value = "";
        document.getElementById("pesc-nome").value = "";
        document.getElementById("matricula").value = "";
        document.getElementById("pesc-matricula").value = "";
        document.getElementById("email").value = "";
        document.getElementById("pesc-email").value = "";
    }

    function formularioPesquisadores() {
        const matriculaInput = document.querySelector('input[id="matricula"]');
        matriculaInput.style.border = '';
        if(document.getElementById('erro-matricula')) {
            const erro = document.getElementById('erro-matricula');
            erro.remove();
        }
        document.getElementById('formAddPesquisador').style.display = 'block';
        document.getElementById('form-pesquisadores').style.display = 'block';
        document.getElementById('formEditarPesquisador').style.display = 'none';
        document.getElementById('lista-pesquisadores').style.display = 'none';
        document.getElementById('btn-adicionar').style.display = 'none';
    }

    function editarPesquisador(button) {

        const id = button.getAttribute('data-id');
        const nome = button.getAttribute('data-nome');
        const matricula = button.getAttribute('data-matricula');
        const email = button.getAttribute('data-email');

        // Preenche os campos
        document.getElementById('pesq-id').value = id;
        document.getElementById('pesq-nome').value = nome;
        document.getElementById('pesq-matricula').value = matricula;
        document.getElementById('pesq-email').value = email;

        // Atualiza a ação do form dinamicamente
        const form = document.getElementById('formEditarPesquisador');
        form.action = `/pesquisador/${id}/editar/`;

        // Alterna visibilidade
        document.getElementById('formEditarPesquisador').style.display = 'block';
        document.getElementById('lista-pesquisadores').style.display = 'none';
        document.getElementById('formAddPesquisador').style.display = 'none';
        document.getElementById('btn-adicionar').style.display = 'none';
        document.getElementById('form-pesquisadores').style.display = 'block';

        const matriculaInputEdit = document.querySelector('input[id="pesq-matricula"]');
        matriculaInputEdit.style.border = '';
        if(document.getElementById('erroEditar-matricula')) {
            const erro = document.getElementById('erroEditar-matricula');
            erro.remove();
        }
    }
  </script>

  <script>
  $('#confirmModal').on('show.bs.modal', function (event) {
    var button = $(event.relatedTarget);
    var pesquisadorId = button.data('pesquisador-id');

    if($('#formConfirmDelete').length){
        var form = $('#formConfirmDelete');
        form.attr('action', '/pesquisador/deletar/' + pesquisadorId + '/');
    } else {
        var form = $('#formDeleteAvaliacao');
        const avaliacaoId = button.data('id');
        $('#formDeleteAvaliacao').attr('action', '/avaliacao/' + avaliacaoId + '/deletar/');
    }

    // Atualiza o action dinamicamente

  });
</script>

{% endblock javascripts %}
