{% extends "layouts/base.html" %}

{% block title %} Perfil {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<div class="row" style="justify-content: center; align-items: center;">
<div class="col-md-6 justify-content-center align-content-center" style="justify-content: center; align-items: center; width: 100%">
  <div class="card" >
    <div class="card-header card-header-primary">
      <h4 class="card-title">Perfil</h4>
    </div>
     <div class="card-profile" style="margin-top: 70px;">
    <div class="card-avatar">
      <a href="#">
        <img class="img" src="/static/assets/img/faces/perfil.png" />
      </a>
    </div>
    <div class="card-body">
      <h6 class="card-category text-gray" style="font-size: 24px">
        {% if pesquisador.nome %}
          {{ pesquisador.nome }}
        {% else %}
          {{ pesquisador.username }}
        {% endif %}
      </h6>
      <h4 class="card-title" style="font-size: 24px">
        {{ pesquisador.email }}
      </h4>
      <p class="card-description" style="font-size: 24px">
      {{ pesquisador.matricula }}
      </p>
    </div>
  </div>
  </div>
</div>

</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}