

    <footer class="footer" style="position: fixed;
  bottom: 0;
  right: 0;
  width: 82%;
  z-index: 100; border: 0">
        <div class="container-fluid" style="padding-left: 0">
          <nav class="float-left" style="left: 0">
            <ul>
              <li>
                <a style="text-align: left" target="_blank" rel="noopener noreferrer"
                   href="https://www.djangoproject.com">
                   Desenvolvido com Django
                </a>
              </li>
            </ul>
          </nav>
          <div class="copyright float-right">
            &copy; <a target="_blank" rel="noopener noreferrer" 
                      href="https://github.com/AnnaCarolinaSG/AvaliaQuick">Avaliaquick</a>
                      - coded by <a target="_blank" rel="noopener noreferrer" href="https://helpful-sort-ef4.notion.site/AvaliaQuick-Projeto-Final-1fe68bab13f480f68dd0f96daf8bace9?pvs=143">Anna e Brian</a>
          </div>
        </div>
    </footer>
