    <div class="sidebar" data-color="purple" data-background-color="white" data-image="/static/assets/img/sidebar-1.jpg">
      <div class="logo">
        <a rel="noopener noreferrer"
           href="/" class="simple-text logo-normal">
          AVALIAQUICK
        </a>
      </div>
      <div class="sidebar-wrapper">
        <ul class="nav">
        {% if request.user.is_authenticated %}

          <li class="nav-item {% if 'index' in segment %} active {% endif %}">
            <a class="nav-link" href="/">
              <i class="material-icons">dashboard</i>
              <p>Página Inicial</p>
            </a>
          </li>
          <li class="nav-item {% if 'avaliacao' in segment %} active {% endif %}">
            <a class="nav-link" href="/avaliacao">
                <i class="material-icons">library_books</i>
                <p>Avaliação</p>
            </a>
          </li>
          <li class="nav-item {% if 'page-user' in segment %} active {% endif %}">
            <a class="nav-link" href="/lista-pesquisadores">
              <i class="material-icons">people</i>
              <p>Lista de Pesquisadores</p>
            </a>
          </li>
          <li class="nav-item {% if 'page-user' in segment %} active {% endif %}">
            <a class="nav-link" href="/avaliacoes-anteriores">
              <i class="material-icons">history</i>
              <p>Avaliações Anteriores</p>
            </a>
          </li>
          <li class="nav-item">
                <a class="nav-link" href="{% url 'logout' %}" >
                  <i class="material-icons">directions_run</i>
                  <p>Logout</p>
                </a>
          </li>


        {% else %}

          <li class="nav-item active">
            <a class="nav-link"
               href="/login">
              <i class="material-icons">login</i>
              <p>Login</p>
            </a>
          </li>

        {% endif %}
        </ul>
      </div>

    </div>
