{% extends 'formulario/base.html' %}
{% load static %}
{% block content %}

    <h3>PARTE B - ENGAJAMENTO COM O TRABALHO</h3>

    <div class="question">
        <p>Presidente/Secretário, de Comitê/Comissão internos da Embrapa</p>
        <input type="number" min="0" max="10" name="item2">
    </div>

    <div class="question">
        <p>Visão Analítica de Dados</p>
        <ul>
            <li>Empregado qualifica dados e informações dos ambientes internos e externos à Unidade ou à Embrapa de forma a contribuir com o planejamento, a gestão ou a execução de estratégias, projetos ou processos da Embrapa.</li>
        </ul>
        {% include './_radius.html' %}
    </div>

    <div class="question">
        <p>Foco em Planejamento do Trabalho</p>
        <ul>
            <li>Empregado planeja estratégias, projetos ou processos sob sua responsabilidade em benefício da eficiência, eficácia e efetividade dos resultados organizacionais.</li>
        </ul>
        {% include './_radius.html' %}
    </div>

    <div class="question">
        <p>Orientação para Mudanças</p>
        <ul>
            <li>Empregado se adapta à realidade dinâmica do contexto de trabalho e das entregas sob sua responsabilidade, desempenhando novos papéis e propondo </li>
        </ul>
        {% include './_radius.html' %}
    </div>

    <div class="question">
        <p>Relações de Colaboração no Trabalho</p>
        <ul>
            <li>Empregado atua com cooperação, colaboração e solidariedade nos ambientes da Empresa e nas relações com parceiros. Entrega resultados colaborativamente, demonstra respeito com as pessoas no ambiente da Empresa e na relação com parceiros e compartilha recursos institucionais com os demais empregados da Unidade.</li>
        </ul>
        {% include './_radius.html' %}
    </div>

{% endblock %}

