{% extends 'formulario/base.html' %}
{% load static %}
{% block content %}

    <div style="align-items: center">
        <div class="subtitle">PARTE C- CONTRIBUIÇÃO TÉCNICA</div>
        <button class="btn-metricas">Consultar métricas avaliativas</button>
        <div style="clear: both;"></div>
    </div>

    <div>
        <h4>C1 - Elaboração de Documentos Técnicos e Corporativos</h4>
        <h5 style="margin-top: -20px;margin-bottom: -5px">(comprovantes entregues ou em sistemas corporativos)</h5>
    </div>

    <div style="justify-content: right; display: flex;">
        <p style="font-size: 12px;">Quantidade</p>
    </div>

    <div class="parametro_quant" style="margin-top: -5px;">
        <div class="parametro-desc">
            <p>• Elaboração de Notas Técnicas, Relatórios, Parecer ad-hoc de órgão de fomento, revista indexadas e documentos da série Embrapa. Atuação como Editor.</p>
            <p style="font-size: 14px; margin-top: -15px; font-style: italic;">A fonte de avaliação atribuirá uma nota, considerando os comprovantes da sua efetiva e incontestável participação na elaboração ou revisão ad-hoc.</p>
        </div>
        <div class="widget-quantidade">
            <td>{{ form.atuacao_editor }}</td>
        </div>
    </div>

    <div class="parametro_quant">
        <div class="parametro-desc">
            <p>• Elaboração de Normas, Notas Técnicas, Relatórios, Memorandos, Pareceres com clareza, coesão e coerência de ideias.</p>
            <p style="font-size: 14px; margin-top: -15px; font-style: italic;"> A fonte de avaliação atribuirá uma nota ao empregado, considerando os relatos, registrados, durante o ano, no IDEARE.</p>
        </div>
        <div class="widget-quantidade">
            <td>{{ form.clareza_coesao }}</td>
        </div>
    </div>

    <!-- ================================================================================================ -->

    <div style="margin-top: 40px;">
        <h4>C2 - Participação na gestão de contratos e convênios</h4>
        <h5 style="margin-top: -20px;margin-bottom: 25px">(comprovantes entregues ou em sistemas corporativos)</h5>
    </div>

        {{ form.gestor_contratos }}

    <!-- ============================================================================================================ -->

    <div style="margin-top: 30px;">
        <h4>C3 - Ações Técnicas em PDI, TT e Publicações Técnicas e Técnico-Científicas</h4>
        <h5 style="margin-top: -20px;margin-bottom: -5px">(comprovantes entregues ou em sistemas corporativos)</h5>
    </div>

    <div class="parametro-title" style="margin-top: 30px; text-decoration: underline; font-style: italic">
        <h4>Item A - Participação em projetos de PD&I </h4>
    </div>

    <div class="parametro-desc" style="text-decoration: underline; margin-bottom: 30px">
            • Participação em Projetos SEG
    </div>

<!-- ------------------ -->

    <div class="campo-checkbox"style="margin-left: 15px; margin-bottom: 15px">
  {{ form.lideranca_projeto }}
  <label for="{{ form.lideranca_projeto.id_for_label }}" style="margin-left: 15px">
    {{ form.lideranca_projeto.label }}
  </label>
</div>

<div class="campo-checkbox" style="margin-left: 15px; margin-bottom: 15px">
  {{ form.responsavel_solucao_contribuicao }}
  <label for="{{ form.responsavel_solucao_contribuicao.id_for_label }}" style="margin-left: 15px">
    {{ form.responsavel_solucao_contribuicao.label }}
  </label>
</div>

<div class="campo-checkbox" style="margin-left: 15px; margin-bottom: 15px">
  {{ form.responsavel_atividade }}
  <label for="{{ form.responsavel_atividade.id_for_label }}" style="margin-left: 15px">
    {{ form.responsavel_atividade.label }}
  </label>
</div>

    <!-- ------------------ -->

    <div class="parametro-desc" style="text-decoration: underline; margin-bottom: 30px; margin-top: 40px">
        • Desenvolvimento de ativos tecnológicos
    </div>

    <div class="parametro_quant" style="margin-top: 10px; justify-content: left; margin-left: 15px;">
        <div class="coluna_quantidade" style="margin-right: -30px">
             {{ form.participacao_qualificacao }}
        </div>
        <div class="parametro-desc" style="margin-right: 60px; margin-left: 15px;">
            Participa do processo de qualificação dos ativos tecnológicos entregues como resultados em escalas TRLs 4,0 a 8,0 (comprovado pela CHTT)
        </div>
    </div>

    <!-- ------------------ -->

    <div class="parametro-desc" style="text-decoration: underline; margin-bottom: 20px; margin-top: 40px">
        • Articulação e captação de recursos externos e internos
    </div>

    <div class="parametro_quant" style="margin-top: 10px; justify-content: left; margin-left: 15px;">
        <div class="coluna_quantidade" style="margin-right: -30px">
             {{ form.coordenacao_propostas_projetos }}
        </div>
        <div class="parametro-desc" style="margin-right: 60px; margin-left: 15px;">
            Coordena a articulação e elaboração de propostas de projetos, a serem submetidos em chamadas SEG, editais externos e contratos de parcerias (registradas no SEER e ou SEI)
        </div>
    </div>

    <div class="parametro_quant" style="margin-top: 10px; justify-content: left; margin-left: 15px;">
        <div class="coluna_quantidade" style="margin-right: -30px">
             {{ form.membro_propostas_projetos }}
        </div>
        <div class="parametro-desc" style="margin-right: 60px; margin-left: 15px;">
            Membro de propostas de projetos a serem submetidos a editais de chamadas SEG, editais externos e contratos de parcerias (registradas no SEER e ou SEI)
        </div>
    </div>

    <div class="parametro-desc" style="margin-right: 60px; margin-left: 15px; margin-top: 25px; font-size: 14px; font-style: italic; text-decoration: underline">
            Recursos financeiros comprovados como receita indireta da unidade (com comprovação junto ao SOF/NAP)
    </div>

    <div class="parametro_quant" style="margin-top: 20px; justify-content: left; margin-left: 40px;">
        <div class="coluna_quantidade" style="margin-right: -30px">
             {{ form.valor_recursos_financeiros_comprovados }}
        </div>
    </div>

    <!-- ----------------------------------------------------------- -->

    <div class="parametro-title" style="margin-top: 30px; text-decoration: underline; font-style: italic">
        <h4>Item B - Participação em ações de transferência de conhecimento, inovação e tecnologia</h4>
    </div>

    <div class="parametro_quant">
        <div class="parametro-desc">
            • Atua na organização ou participação (exclusivamente como instrutor) em eventos técnico-científicos, de capacitação, formação, transferência de conhecimento, inovação e tecnologia Ex: workshops, simpósios, congressos, seminários, capacitações, cursos e dias de campo (Registrados no AGE como responsável ou demandante)
        </div>
        <div class="coluna_quantidade">
            {{ form.instrutor_eventos_tecnicos }}
        </div>
    </div>

    <div class="parametro_quant">
        <div class="parametro-desc">
            • Atua na apresentação de tecnologias da Embrapa em eventos internos e/ou externos (Registrados no AGE)
        </div>
        <div class="coluna_quantidade">
            {{ form.apresentacao_tecnologias_embrapa }}
        </div>
    </div>

    <div class="parametro_quant">
        <div class="parametro-desc">
            • Atua como responsável por cursos de capacitação no modelo EAD EM ANDAMENTO, lançado pela Agrobiologia- comprovado pela equipe do setor de TT        </div>
        <div class="coluna_quantidade">
            {{ form.responsvel_capacitacao_ead }}
        </div>
    </div>

    <div class="parametro_quant">
        <div class="parametro-desc">
            • Atua como revisor de cursos de capacitação no modelo EAD já estruturados pela Agrobiologia e a serem lançados- comprovado pela CHTT
        </div>
        <div class="coluna_quantidade">
            {{ form.revisor_capacitacao_ead }}
        </div>
    </div>

    <div class="parametro_quant">
        <div class="parametro-desc">
            • Atua como membro de cursos de capacitação no modelo EAD lançados por outras unidades da Embrapa e com comprovação da CHTT da unidade responsável pelo curso
        </div>
        <div class="coluna_quantidade">
            {{ form.membro_capacitacao_ead }}
        </div>
    </div>

    <div class="parametro_quant">
        <div class="parametro-desc">
            • Atua como coordenador e ou conteudista NOVOS de cursos de capacitação no modelo EAD a ser lançado pela Agrobiologia - comprovado pela equipe do setor de TT
        </div>
        <div class="coluna_quantidade">
           {{ form.coordenador_novas_capacitacoes }}
        </div>
    </div>

    <!-- ----------------------------------------------------------- -->

    <div class="parametro-title" style="margin-top: 30px; text-decoration: underline; font-style: italic">
        <h4>Item C - Publicações Técnicas e Técnico-Científicas</h4>
    </div>

    <div style="justify-content: right; display: flex; margin-top: -25px;">
        <p style="font-size: 12px;">Quantidade</p>
    </div>

    <div class="parametro_quant" style="margin-top: 0px; margin-left: 35px;">
        <div class="parametro-desc">
            • Artigo Publicado em periódico - A1
        </div>
        <div class="coluna_quantidade">
            {{ form.artigo_a1 }}
        </div>
    </div>

    <div class="parametro_quant" style="margin-top: 15px; margin-left: 35px;">
        <div class="parametro-desc">
            • Artigo Publicado em periódico - A2, A3 e A4
        </div>
        <div class="coluna_quantidade">
            {{ form.artigo_a2_a3_a4 }}
        </div>
    </div>

    <div class="parametro_quant" style="margin-top: 15px; margin-left: 35px;">
        <div class="parametro-desc">
            • Artigo Publicado em periódico - B1 e B2
        </div>
        <div class="coluna_quantidade">
            {{ form.artigo_b1_b2 }}
        </div>
    </div>

    <div class="parametro_quant" style="margin-top: 15px; margin-left: 35px;">
        <div class="parametro-desc">
            • Artigo Publicado em periódico - B3 ou inferior
        </div>
        <div class="coluna_quantidade">
            {{ form.artigo_b3_inferior }}
        </div>
    </div>

    <div class="parametro_quant" style="margin-top: 15px; margin-left: 35px;">
        <div class="parametro-desc">
            • Publicação de produções técnicas da Embrapa: Boletim de pesquisa, Circular Técnica, Comunicado Técnico e Série Documentos
        </div>
        <div class="coluna_quantidade" style="margin-top: -10px;">
            {{ form.producoes_tecnicas_embrapa }}
        </div>
    </div>

    <div class="parametro_quant" style="margin-top:15px; margin-left: 35px;">
        <div class="parametro-desc">
            • Elaboração de capítulo de livros
        </div>
        <div class="coluna_quantidade">
            {{ form.elaboracao_cap_livros }}
        </div>
    </div>

    <div class="parametro_quant" style="margin-top: 15px; margin-left: 35px;">
        <div class="parametro-desc">
            • Organização/Edição de livros
        </div>
        <div class="coluna_quantidade">
            {{ form.organizacao_edicao_livros }}
        </div>
    </div>

    <div class="parametro_quant" style="margin-top: 15px; margin-left: 35px;">
        <div class="parametro-desc">
            • Artigos e resumos publicados em anais de eventos científicos;
        </div>
        <div class="coluna_quantidade">
            {{ form.artigos_resumos_eventos }}
        </div>
    </div>

{% endblock %}
{% block etapa %}
<div class="etapa">Etapa 3/3</div>
{% endblock %}